@font-face {
  font-family: "CenturyGothic";
  src: url("/p_katerina_semenova_next/centurygothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "CenturyGothic", sans-serif;
}
