@font-face {
  font-family: 'CenturyGothic';
  src: url('/centurygothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'slick';
  src: none;
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'CenturyGothic', sans-serif;
}
