@font-face {
  font-family: 'CenturyGothic';
  src: url('../assets/fonts/centurygothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CenturyGothic', sans-serif; 
}
