@use '@/styles/index' as *;

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @include flex(center, column);
  scroll-behavior: smooth;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

body {
  line-height: 27px;
  font-size: 22px;
  max-width: 1840px;
  margin: 0 auto;
  background-color: transparent;

  section {
    margin-bottom: 30px;
  }
}

@media (max-width: 1199px) {
  body {
    font-size: 20px;
  }
}

@media (max-width: 1839px) {
  body {
    width: 95%;
    margin: 0 auto;
  }
}
