@use '@/styles/mixin' as *;
@use '@/styles/colors' as *;

.footer {
  @include flex(space-between, column);

  hr {
    width: 100%;
    margin: 0;
    height: 1px;
    background-color: $brand_gray;
  }

  h4 {
    font-weight: normal;
    height: 1px;
  }

  &__about {
    @include flex(space-between, row);

    margin: 30px 0;

    white-space: pre-line;

    article {
      width: 54%;
    }
  }

  &__contacts {
    @include flex(space-between, row);
    position: relative;

    margin: 30px 0 30px 0;

    div {
      @include flex('', column);
      width: 54%;
    }

    .scroll_button {
      position: absolute;
      display: block;

      top: 0;
      right: 0;
      z-index: 1000;

      height: 30%;

      padding: 5px 10px;

      background-color: black;
      color: white;
      border: none;
      border-radius: 5px;

      cursor: pointer;
      transition: all 0.5s ease;
    }

    .scroll_button:hover {
      background-color: gray;
    }

    .scroll_button.visible {
      opacity: 1;
      visibility: visible;
    }

    .scroll_button.show {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    .footer__about {
      h4 {
        display: none;
      }

      article {
        width: 100%;
      }
    }

    .footer__contacts {
      h4 {
        display: none;
      }

      div {
        width: 100%;
      }
    }
  }
}

@media (max-width: 700px) {
  .footer__contacts {
    margin: 30px 0;
  }
}
