.slides {
  margin-bottom: 30px;

  &__image {
    position: relative;
    max-width: 100%;
    object-fit: cover;
    border-radius: 30px;
  }

  ul {
    text-align: right;
  }

  .leftArrow,
  .rightArrow {
    position: absolute;
    z-index: 1;

    top: calc(50% - 1px);
    padding: 0;
    margin: 0;
    width: 30%;
    height: 1198px;

    background-color: transparent;
    border-radius: 30px;

    opacity: 0;
    cursor: default;
    transition: 1s all ease;
    transform: translateY(-50%);
  }

  .leftArrow {
    left: 0;
  }

  .rightArrow {
    right: 0;
  }

  .leftArrow:hover {
    border-radius: 30px;
    opacity: 0.3;
    background: linear-gradient(-90deg, transparent, black) transparent;
  }
  .rightArrow:hover {
    border-radius: 30px;
    opacity: 0.3;
    background: linear-gradient(90deg, transparent, black) transparent;
  }
}

@media (max-width: 840px) {
  .slides {
    ul {
      bottom: 1rem;
      text-align: center;
      display: none;
    }

    p {
      text-align: center;
    }
  }
}
