.slides {
  .slide {
    position: relative;
    &__image {
      max-width: 100%;
      height: 100%;

      border-radius: 10px;
    }
    //OPTION
    .swiperButtonNext,
    .swiperButtonPrev {
      position: absolute;
      bottom: -50%;
      z-index: 1;
      background-color: red !important;

      width: 35%;
      height: 100%;
      padding: 0;
      margin: 0;

      border-radius: 10px;

      opacity: 0;
      background-color: transparent;

      cursor: pointer;
      transition: 1s all ease;
      transform: translateY(-50%);
    }

    .swiperButtonPrev {
      left: 0;
    }

    .swiperButtonNext {
      right: 0;
    }

    .swiperButtonPrev:hover {
      opacity: 0.5;
      background: linear-gradient(-90deg, transparent, black) transparent;
    }
    .swiperButtonNext:hover {
      opacity: 0.5;
      background: linear-gradient(90deg, transparent, black) transparent;
    }
  }

  p {
    margin-top: 10px;
  }
}

@media (max-width: 840px) {
  .slides {
    ul {
      text-align: center;
      bottom: 20px;
    }
  }
}
